.bundle
.idea
.vagrant
db/*.sqlite3
db/*.sqlite3-*
docker/mysql/data
docker/mysql/backup
docker/mysql/my.cnf
docker/config/devise.rb
docker/config/production.rb
docker/config/secret_token.rb
docker/log
log/*.log
tmp
.sass-cache
.DS_Store
docker-compose.yml
public/assets
vendor/bundle
BUILDNUMBER
REVISION

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
