<!-- Copyright 2011 by Thomas Herrmann -->

<h1>Zimmeranfrage für <%= @accommodation.event_title %> ändern</h1>

<%= render 'form' %>

<div class="OverviewLink"><%= link_to 'Zurück zur Übersichtsseite', attendance_path(@accommodation.attendance_id) %></div>
