<!-- Copyright 2011 by Thomas Herrmann -->

<h1>Neue Zimmeranfrage für <%= @accommodation.event_title %></h1>

<!-- TODO: Text for event hotel in database!!! -->

<%= render 'form' %>

<div class="OverviewLink"><%= link_to 'Zurück zur Übersichtsseite', attendance_path(@accommodation.attendance_id) %></div>
