<!-- Copyright 2011 by Thomas Herrmann -->

<h1>Neue Zimmeranfrage für <%= @accommodation.event_title %></h1>

<!-- TODO: Text for event hotel in database!!! -->
<p>Unser Hotel für BB2012 ist das Pullman Hotel München**** (<a href="www.pullman-hotel-muenchen.de">www.pullman-hotel-muenchen.de</a>). Wir haben hier bereits Zimmer reserviert. Der Preis beträgt 30 Euro pro Nacht inklusive Frühstück pro Nase bei Übernachtung in einem Doppelzimmer.</p>

<%= render 'form' %>

<div class="OverviewLink"><%= link_to 'Zurück zur Übersichtsseite', attendance_path(@accommodation.attendance_id) %></div>
