<ul>
    <% if user_signed_in? %>
    <li>
        <%= link_to "Veranstaltungen", :controller => "events" %>
    </li>
    <li>
        <%= link_to "Meine Anmeldungen", :controller => "participations" %>
    </li>
    <!--
    <li>
        <%= link_to "MOCs", :controller => "exhibits" %>
    </li>
    -->
    <li>
        <%= link_to "Mein Profil", :controller => "users" %>
    </li>
    <% end %>
</ul>
