<ul>
    <li>
        <%= link_to "Veranstaltungen", :controller => "events" %>
    </li>
    <li>
        <%= link_to "Meine Anmeldungen", :controller => "registrations" %>
    </li>
    <!--
    <li>
        <%= link_to "MOCs", :controller => "exhibits" %>
    </li>
    -->
    <li>
        <%= link_to "Mein Profil", :controller => "users" %>
    </li>
</ul>