<!-- Copyright 2011 by Thomas Herrmann -->

<h1>Teilnehmerdaten für <%= @attendee.attendance.event.title %> ändern</h1>

<%= render 'form' %>

<%= link_to 'Zurück', attendance_path(@attendee.attendance) %>
