<!-- Copyright 2011 by Thomas Herrmann -->

<h1>Teilnehmerdaten für <%= @attendee.event_title %> ändern</h1>

<%= render 'form' %>

<div class="OverviewLink"><%= link_to 'Zurück zur Übersichtsseite', attendance_path(@attendee.attendance_id) %></div>
