body, input {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
}

p {
    font-size: 24px;
}

h1 {
    position: absolute;
    margin: 0;
    top: 25px;
    padding-left: 310px;
    font-size: 24px;
    height: 25px;
    color: #333;
}

h2 {
    padding-left: 25px;
    padding-top: 10px;
    font-size: 18px;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#mainTitle {
//    background-image: url(../assets/bricking-bavaria.jpg);
//    background-repeat: no-repeat;
    background-position: 30px 5px;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-align: right;
    color: #333;
    height: 60px;
}

#mainTitle .LugLogo {
  left: 30px;
  top: 5px;
  position: absolute;
}

#mainTitle .TitleText {
    display: block;
    padding: 0px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 10px;
}

#mainTitle .VersionText {
    display: block;
    padding: 0px;
    padding-right: 30px;
    font-size: 9px;
}

#mainNavi {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    background-color: #E6F2FF;
    border-top: 1px solid #005CB8;
    border-bottom: 1px solid #005CB8;
    height: 20px;
    text-align: center;
}

#mainNavi ul {
    list-style: none;
    margin: 0;
    padding-left: 35px;
}

#mainNavi ul li {
    display: block;
    float: left;
    padding-right: 30px;
}
#mainNavi ul li a, #mainNavi ul li a:visited {
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
}

#mainNavi ul li#editUserLink, #mainNavi ul li#loginLink, #mainNavi ul li#logoutLink, #mainNavi ul li#impressLink {
    float: right;
}

#mainContent {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.Indented {
    padding-left: 25px;
    padding-right: 25px;
}

.RegistrationInfo {
    border: 2px solid #ddd;
    border-collapse: collapse;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.RegistrationInfo li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.RegistrationInfo li ul li{
    margin-top: 1px;
    margin-bottom: 1px;
}

.OverviewLink {
    padding-left: 25px;
}

.InputForm {
    border: 2px solid #ddd;
    border-collapse: collapse;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.Event {
    font-weight: bold;
    color: #333;
}

.EventList {
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

.EventListEntry {
    border: 2px solid #ddd;
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.EventLogo {
    display: block;
    float: right;
    max-width: 700px;
    max-height: 460px;
}

.EventTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.EventTime {
    padding-top: 5px;
    font-size: 12px;
}

.EventDescription {
    padding-left: 40px;
    font-size: 16px;
}

.EventInfo {
    padding-left: 40px;
    font-size: 16px;
}

.EventUrl {
    font-size: 16px;
}

.EventSignup {
    padding-left: 40px;
    font-size: 16px;
}


.FrontendTable {
    margin-left: 25px;
    margin-bottom: 25px;
/*    border: 2px solid #ddd; */
    border-collapse: collapse;
    font-size: 13px;
}

.FrontendTable th {
   border: 1px solid #ddd;
   background: #eee;
   /* background: #E6F2FF; */
   text-align: left;
   padding: 5px;
}

.FrontendTable th.open {
  background: #efe;
}

.FrontendTable th.closed {
  background: #fee;
}

.FrontendTable td {
  border: 1px solid #ddd;
  padding: 5px;
}

.FrontendTable .whitespace {
  border: none;
}

.Flash {
    background-color: #eee;
    padding: 7px 15px;
    border: 2px solid;
    margin-bottom: 10px;
}

.Flash ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.FlashWarn {
    color: #770;
    font-weight: bold;
}

.FlashNotice {
    color: green;
    font-weight: bold;
}

.FlashError {
    color: red;
    font-weight: bold;
}

.FlashAlert {
    color: red;
    font-weight: bold;
    border-color: red;
}

.ModelError {
    margin-left: 40px;
    margin-right: 60px;
    color: #700;
    background-color: #fdd;
    border-color: #700;
    padding: 3pt 10pt;
    border: 2px solid;
}
