html {
  font-family: verdana, arial, helvetica, sans-serif;
}

#votingTitle {
  width: 100%;
  text-align: center;
}

#votingTitle .LugLogo {
  max-width: 90%;
}

#votingContent {
  margin: 1%;
  text-align: center;
}

.VotingForm {
  border: 2px solid #eeeeee;
  border-collapse: collapse;
  width: 96%;
  padding: 2%;
}
