html {
  font-family: verdana, arial, helvetica, sans-serif;
}

#votingTitle {
  width: 100%;
  text-align: center;
}

#votingTitle .LugLogo {
  max-width: 90%;
}

#votingContent {
  margin: 1%;
  text-align: center;
}

.VotingListEntry {
  border: 2px solid #ddd;
  border-collapse: collapse;
  margin: 1%;
  padding: 1%;
}

.VotingListEntry h2,p {
  margin: 1%;
  padding: 0;
}

.VotingListEntry h3,h4 {
  margin: 1%;
  padding-top: 1%;
}

.VotingForm {
  border: 2px solid #eeeeee;
  border-collapse: collapse;
  width: 96%;
  padding: 2%;
}

.VotingButton input {
  font-size: x-large;
}
