<p>Danke f체r Deine Registrierung auf unserer Veranstaltungsseite mit der Mailadresse "<%= @resource.email %>"!</p>

<p>Bitte best채tige Deine Anmeldung indem Du den folgenden Link anklickst:</p>

<p><%= link_to "Meine Registrierung f체r Veranstaltungen best채tigen", confirmation_url(@resource, :confirmation_token => @token) %></p>
