<p>Hallo <%= @resource.email %>!</p>

<p>Jemand (vermutlich Du) hat einen Link zur Änderung Deines Passwortes für unsere Veranstaltungsseite angefordert.</p>

<p>Zum Zurücksetzen Deines Passworts klicke bitte auf diesen Link: <%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls Du keine Änderung Deines Passwortes angefordert hast, ignoriere diese Mail bitte.</p>
<p>Dein Passwort wird nicht geändert, so lange Du den obigen Link nicht anklickst.</p>
