<p>Hallo <%= @resource.email %>!</p>

<p>Dein Account für unsere Veranstaltungsseite wurde wegen zu vieler falscher Anmeldeversucht gesperrt.</p>

<p>Zum Entsperren des Accounts klicke bitte auf den folgenden Link:</p>

<p><%= link_to 'Account entsperren', unlock_url(@resource, :unlock_token => @token) %></p>
