<!-- Copyright 2024 by Thomas Herrmann -->
<h1><%= t('exhibit_voting_results_for') + @event.title %></h1>

<% if @votes.size == 0 %>
  <h2><%= t('no_votes') %></h2>
<% else %>
  <h2><%= t('number_of_votes', size: @votes.size) %></h2>
<% end %>

<% if user_is_admin? || (@event && @event.is_managed_by?(current_user)) -%>
  <div class="OverviewLink"><%= link_to t('back_to_event'), event_path(@event) unless @event.nil? %></div>
<% end %>
