<h1>Meine Anmeldungen</h1>

<h2>Du hast Dich für die folgenden Veranstaltungen angemeldet:</h2>

<table class="FrontendTable">
  <tr>
    <th>Veranstaltung</th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.event.title %></td>
    <td><%= attendance.attendees.count %> Teilnehmer, <%= attendance.exhibits.count %> MOCs</td>
    <td>
        <% if attendance.event.registration_open? %>
          <%= link_to 'Details zu dieser Anmeldung', attendance %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
