<h1>Meine Anmeldungen</h1>

<% if @attendances.empty? %>
    <h2>Du hast Dich bisher noch zu keiner Veranstaltung angemeldet.</h2>
<% else %>
    <% if current_user.has_open_attendances? %>
    <p class="Indented"><b>Hinweis:</b> Mit Hilfe der Links bei den MOCs kannst Du deren Daten für aktuelle Veranstaltungen kopieren.</p>
    <% end %>
    <table class="FrontendTable">
    <% unless @future_attendances.empty? %>
          <tr>
            <th colspan="2" class="open">Zukünftige Veranstaltungen, zu denen Du Dich angemeldet hast</th>
          </tr>
          <% @future_attendances.each do |attendance| %>
              <%= render 'tablerow', :attendance => attendance %>
          <% end %>
    <% end %>
    <tr class="whitespace">
      <td colspan="2" class="whitespace">&nbsp;</td>
    </tr>
    <% unless @past_attendances.empty? %>
        <tr>
          <th colspan="2" class="closed">Frühere Veranstaltungen, an denen Du teilgenommen hast</th>
        </tr>
        <% @past_attendances.each do |attendance| %>
            <%= render 'tablerow', :attendance => attendance %>
        <% end %>
    <% end %>
    </table>

<% end %>
