<% event_title = @attendance.event.title unless @attendance.event.nil? %>
<% event_title = "<NO EVENT>" if event_title.nil? %>

<h1>Anmeldung für <%= event_title %></h1>

<div class="InputForm">

<p>Vielen Dank, dass Du Dich zur Teilnahme an <%= event_title %> registrieren möchtest!</p>

<p>Auf der nächsten Seite kannst Du alle Details zu Deiner Anmeldung erfassen.
  Natürlich hast Du später jederzeit die Möglichkeit, Deine Daten zu korrigieren und Ergänzungen vorzunehmen.</p>

<p>Bitte bestätige Deine Anmeldung durch den folgenden Link.</p>

<%= render 'form' %>

</div>
<%= link_to 'Zurück zur Veranstaltungsübersicht', events_path %>
